@model NightAlgorithm.Models.Administrator

@{
    ViewData["Title"] = "Brisanje";
}

<h1>Obriši</h1>

<h3>Da l iste sigurni da želite obrisati?</h3>
<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> |
        <a asp-action="Index">Nazad na listu</a>
    </form>
</div>
