@model IEnumerable<NightAlgorithm.Models.Administrator>

@{
    ViewData["Title"] = "Admin";
}

<h1>Informacije o adminu</h1>

<p>
    <a asp-action="Create">Dodaj informacije o adminu</a>
</p>
<table style="color: #ffcd00;" class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
