@{
    ViewData["Title"] = "Dobrodošli";
}

<div class="text-center">
    <h1 style="margin-top: 50px; margin-bottom: 100px;"class="display-4">Dobrodošli</h1>
</div>

<div class="card-deck">
    <div  style="        background-color: #121212;
        color: #ffcd00; font-size: 20px;" class="card">
        <img class="card-img-top" src="~/slike/na.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 style="color: #ffcd00;">Rezervacije</h4>
            <p  class="card-text">Rezervacije vrijede do 23h.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div style="        background-color: #121212;
        color: #ffcd00; font-size: 20px;" class="card">
        <img class="card-img-top" src="~/slike/na.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Radno vrijeme</h4>
            <p  class="card-text">Klub radi od 22h do 04h.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div style="        background-color: #121212;
        color: #ffcd00; font-size: 20px;" class="card">
        <img class="card-img-top" src="~/slike/na.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Provod za sve</h4>
            <p class="card-text">Večerašnjem partyju mogu prisustvovati svi, bez obzira na dobno ograničenje</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
