@model NightAlgorithm.Models.RegistrovaniKorisnik

@{
    ViewData["Title"] = "Informcije";
}

<h1>Unesi informacije o sebi</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="korisničkoIme" class="control-label"></label>
                <input asp-for="korisničkoIme" class="form-control" />
                <span asp-validation-for="korisničkoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumRođenja" class="control-label"></label>
                <input asp-for="datumRođenja" class="form-control" />
                <span asp-validation-for="datumRođenja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="spol" class="control-label"></label>
                <input asp-for="spol" class="form-control" />
                <span asp-validation-for="spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
